/*
Estilos da página index.html
*/


/* .back{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/FernandaAoContrario.png);
    background-size: cover;
} */

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: left;
}
.container2{
    display: flex;
    flex-flow: row;
    justify-content: left;
}

#menu li {
    display: inline;
    padding: 15px;
    text-decoration: none;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
#menu li a:hover{

    color: rgb(120, 94, 160);
}

.p-30{
    padding: 40px;

}

.br-50{
    border-radius: 0%;
}

.wh-300{
    width: 400px;
    height: 400px;
}

.tamaninho {
    width: 40px;
    height: 40px;
    padding-right: 30px;
}

.tamanhoamigos{
    width: 300px;
    height: 600px;
    padding-right: 5px;

}

.mb-50{
    margin-bottom: 50px;
}

/*
Estilos da página contato.html
*/
.ml-70{

    margin-left: 70px;
    
}